@charset "UTF-8";

    body *{
		font-family: 'Nanum Gothic', sans-serif;;
	}
	
/* 상단 메뉴바 */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");*/
#navDiv {
    background-color: #393434;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;

    align-items: center;
    text-align: center;




}

.navMenu a {
    /* color: #f6f4e6; */
    /* font-family: 'Noto Serif Display', serif; */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 250px;
    height: 30px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    
    /* border: red 1px solid; */
    
    padding-top: 21px;
    padding-bottom:23px;
}

.navMenu a:hover {
  color: #348492;
}

/* 
.navMenu .dot {
  width: 10px;
  height: 10px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(1px);
  transform: translateX(1px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(195px);
  transform: translateX(195px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(600px);
  transform: translateX(600px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(1005px);
  transform: translateX(1005px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(450px);
  transform: translateX(450px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
} */

/* 로고 */
#headerDiv {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    
}

#logo{
    width: 550px;
    height: 80px;
    margin-top: 15px;
}

#adminId{
	font-size: 40px;
}



/* body *{
	border:1px solid red;
} */

#adminIdDiv{
  display: block;
  margin-top: 10px;
}

#logOutBtn{
  background-color:#348492;
		border: none;
		color: white;
		width: 80px;
		border-radius: 5px;
		padding: 5px;
    height: 30px;
    width: 200px;
    margin-top: 10px;
}



