@charset "UTF-8";

div{
    /* border: 1px solid black; */
}

body{
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Rowdies', cursive; */
    font-family: 'Cabin', sans-serif;
}

#headerDiv {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#logo{
    width: 550px;
    height: 80px;
}

#memberName {
	font-size:28px;
	font-weight: bolder;
	color: #348492;
}

#nim {
	font-size:28px;
	font-weight: bolder;
}

/* -------------------------------------------------------------------------------------------------- */
/* 멤버메뉴 */

:root {
  --secoColor: #348492;
  --primColor: #393434;
  --cornerRad: 4px;
}

summary {
  text-align: center;
  padding: 12px 10px;
  height: 17px;
  color: #348492; 
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: transform 200ms ease-in-out 0s;
}
summary::before,
summary::after {
  position: static;
  top: 0;
  left: 0;
}
summary::before {
  content: "";
}
summary::after {
  letter-spacing: -1px;
}
summary:hover {
  transform: scale(1.1);
}
summary::marker {
  font-size: 0;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] .memberMenu {
  animation-name: menuAnim;
}
details[open] summary::after {
  content: "";
}

.memberMenu {
	position: absolute;
	width: fit-content;
	border: #348492 soild 1px;
	border-radius: var(--cornerRad);
	background-color: #393434;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	animation: closeMenu 300ms ease-in-out forwards;
}

.memberMenu a {
	padding: 12px 15px;
	margin: 0 12px;
	/* color: var(--secoColor); */
	color: white;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	text-decoration: none;
	text-align: center;
	transition: filter 200ms linear 0s;
}
.memberMenu a:nth-of-type(1) {
	padding-top: 24px;
}
.memberMenu a:nth-last-of-type(1) {
	border-bottom: none;
}
.memberMenu a:hover {
	filter: brightness(200%);
	color:  #348492 ;
	text-decoration-line : none;
}

/* -------------------------------------------------------------------------------------------------- */
/* 버튼 */
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap'); */
#headbtn{
    width: 180px;
    height: 55px;
    margin-top: 15px;
    margin-right: 10px;
}

.headbtn{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
.headbtn a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.headbtn a:before,
.headbtn a:after{
  position: absolute;
  content: "LOGIN";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #348492;
  box-sizing: border-box;
  border-radius: 5px;
}
.headbtn a:before{
  color: #fff;
  background: #348492;
  transform: rotateY(0deg) translateZ(25px);
}
.headbtn a:after{
  color:#348492;
  transform: rotateX(90deg) translateZ(25px);
}
.headbtn a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

/* -------------------------------------------------------------------------------------------------- */
/* 상단 메뉴바 */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");*/
#navDiv {
    background-color: #393434;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    align-items: center;
}

#navDiv *{
	font-family: 'Cabin', sans-serif !important;
}

.navMenu a {
    /* color: #f6f4e6; */
    /* font-family: 'Noto Serif Display', serif; */
    color: white;
    text-decoration: none;
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 400px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
    color: #348492;
    text-decoration: none;
}

.navMenu .dot {
	width: 10px;
	height: 10px;
	background: #fddb3a;
	border-radius: 50%;
	opacity: 0;
	-webkit-transform: translateX(30px);
	transform: translateX(30px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
	-webkit-transform: translateX(195px);
	transform: translateX(195px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
	-webkit-transform: translateX(600px);
	transform: translateX(600px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
	-webkit-transform: translateX(1005px);
	transform: translateX(1005px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

/* .navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(450px);
  transform: translateX(450px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
} */


/* -------------------------------------------------------------------------------------------------- */
/* 로그인화면 */

#enrollbtn {
	border:none;
	background-color: #393434;
	color:  #42F3FA;
	font-size: 16px;
}

#particles-js{
  height: 100%
}
.loginBox{
  font-family: 'Cabin', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* width: 350px; */
  width: 400px;
  height: 530px;
  min-height: 200px;
  background: #393434 ;
  /* background: white; */
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box
}
.user{
  margin: 0 auto;
  display: block;
  margin-bottom: 20px
}
.loginBox h3{
  margin: 0;
  padding: 0 0 20px;
  /* color: #59238F; */
  color: #348492;
  text-align: center
}
.loginBox input{
  width: 100%;
  margin-bottom: 20px
}
.loginBox input[type="text"], .loginBox input[type="password"]{
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: #fff;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box
}
.loginBox input[type="text"]:hover, .loginBox input[type="password"]:hover{
  color: #42F3FA;
  border: 1px solid #42F3FA;
  box-shadow: 0 0 5px rgba(0,255,0,.3), 0 0 10px rgba(0,255,0,.2), 0 0 15px rgba(0,255,0,.1), 0 2px 0 black
}
.loginBox input[type="text"]:focus, .loginBox input[type="password"]:focus{
  border-bottom: 2px solid #42F3FA
}
.inputBox{
  position: relative
}
.inputBox span{
  position: absolute;
  top: 10px;
  color: #262626
}
.loginBox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  /* background: #59238F; */
  background: #348492;
  color: #fff;
  border-radius: 20px;
  cursor: pointer
}
.loginBox a{
  /* color: #262626; */
  color: grey;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block
}
.loginBox a:hover{
  color: #00ffff
}

/* -------------------------------------------------------------------------------------------------- */
/* 모달창 */
.loginModal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(77, 77, 77, .7); */
  background: rgba(224, 221, 221, 0.7);
  transition: all .4s;
}

.loginModal:target {
  visibility: visible;
  opacity: 1;
}

#loginModal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  /* color: white !important;  */
  text-decoration: none;
  font-size: 20px;
}

/* -------------------------------------------------------------------------------------------------- */