/***** Media Queries *****/

/* Media Queries : 메인 기획전 left munu 없을 시*/
.plan_view3,.plan_view4,.plan_view3_left,.plan_view4_left {display:none}

@media only screen and (min-width:1820px) {/*min-width:2220px*/
	.plan_view3{display:block}
}

/* Media Queries : 메인 기획전 left menu 있을 시*/
@media only screen and (min-width:2090px) {/*min-width:2490px*/
	.plan_view3_left{display:block}
}/*

/* Media Queries : 작은 상품 리스트(min-width:154px) - 1920px기준 10개 출력*/
/*1407px*/
@media only screen and (min-width:0) {
	.snap-article-list.center.goods_small_media10 .li_box{width:14.28571429% !important}
}
@media only screen and (min-width:1561px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:12.5% !important}
}
@media only screen and (min-width:1715px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:11.11111111% !important}
}
@media only screen and (min-width:1869px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:10% !important}
}
@media only screen and (min-width:2023px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:9.09090909% !important}
	.page_brand_tab .snap-article-list.center.goods_small_media10 .li_box , .page_items_lists .snap-article-list.center.goods_small_media10 .li_box{width:10% !important;}
}
@media only screen and (min-width:2177px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:8.33333333% !important}
	.page_brand_tab .snap-article-list.center.goods_small_media10 .li_box , .page_items_lists .snap-article-list.center.goods_small_media10 .li_box{width:10% !important;}
}
@media only screen and (min-width:2331px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:7.69230769% !important}
	.page_brand_tab .snap-article-list.center.goods_small_media10 .li_box , .page_items_lists .snap-article-list.center.goods_small_media10 .li_box{width:10% !important;}
}
@media only screen and (min-width:2485px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:7.14285714% !important}
	.page_brand_tab .snap-article-list.center.goods_small_media10 .li_box , .page_items_lists .snap-article-list.center.goods_small_media10 .li_box{width:10% !important;}
}
@media only screen and (min-width:2639px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:6.6666667% !important}
	.page_brand_tab .snap-article-list.center.goods_small_media10 .li_box , .page_items_lists .snap-article-list.center.goods_small_media10 .li_box{width:10% !important;}
}
@media only screen and (min-width:2793px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:6.25% !important}
	.page_brand_tab .snap-article-list.center.goods_small_media10 .li_box , .page_items_lists .snap-article-list.center.goods_small_media10 .li_box{width:10% !important;}
}
@media only screen and (min-width:2947px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:5.882352941% !important}
	.page_brand_tab .snap-article-list.center.goods_small_media10 .li_box , .page_items_lists .snap-article-list.center.goods_small_media10 .li_box{width:10% !important;}
}
@media only screen and (min-width:3101px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:5.5555556% !important}
	.page_brand_tab .snap-article-list.center.goods_small_media10 .li_box , .page_items_lists .snap-article-list.center.goods_small_media10 .li_box{width:10% !important;}
}
@media only screen and (min-width:3255px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:5.263157894% !important}
	.page_brand_tab .snap-article-list.center.goods_small_media10 .li_box , .page_items_lists .snap-article-list.center.goods_small_media10 .li_box{width:10% !important;}
}
@media only screen and (min-width:3409px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:5% !important}
	.page_brand_tab .snap-article-list.center.goods_small_media10 .li_box , .page_items_lists .snap-article-list.center.goods_small_media10 .li_box{width:10% !important;}
}
@media only screen and (min-width:3563px) {
	.snap-article-list.center.goods_small_media10 .li_box{width:4.761904761% !important}
	.page_brand_tab .snap-article-list.center.goods_small_media10 .li_box , .page_items_lists .snap-article-list.center.goods_small_media10 .li_box{width:10% !important;}
}

/* Media Queries : 작은 상품 리스트(min-width:154px) - 1920px기준 9개 출력*/
/*1416px*/
@media only screen and (min-width:0) {
	.snap-article-list.center.goods_small_media9 .li_box{width:16.66666667% !important}
}
@media only screen and (min-width:1570px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:14.28571429% !important}
}
@media only screen and (min-width:1724px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:12.5% !important}
}
@media only screen and (min-width:1878px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:11.11111111% !important}
}
@media only screen and (min-width:2032px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:10% !important}
}
@media only screen and (min-width:2186px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:9.09090909% !important}
}
@media only screen and (min-width:2340px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:8.33333333% !important}
}
@media only screen and (min-width:2494px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:7.69230769% !important}
}
@media only screen and (min-width:2648px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:7.14285714% !important}
}
@media only screen and (min-width:2956px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:6.6666667% !important}
}
@media only screen and (min-width:3110px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:6.25% !important}
}
@media only screen and (min-width:3264px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:5.882352941% !important}
}
@media only screen and (min-width:3418px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:5.5555556% !important}
}
@media only screen and (min-width:3572px) {
	.snap-article-list.center.goods_small_media9 .li_box{width:5.263157894% !important}
}

/* Media Queries : 작은 상품 리스트(min-width:154px) - 1920px기준 8개 출력*/
/*1425px*/
@media only screen and (min-width:0) {
	.snap-article-list.center.goods_small_media8 .li_box{width:20% !important}
}
@media only screen and (min-width:1579px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:16.66666667% !important}
}
@media only screen and (min-width:1733px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:14.28571429% !important}
}
@media only screen and (min-width:1887px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:12.5% !important}
}
@media only screen and (min-width:2037px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:11.11111111% !important}
}
@media only screen and (min-width:2189px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:10% !important}
}
@media only screen and (min-width:2343px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:9.09090909% !important}
}
@media only screen and (min-width:2497px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:8.33333333% !important}
}
@media only screen and (min-width:2651px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:7.69230769% !important}
}
@media only screen and (min-width:2805px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:7.14285714% !important}
}
@media only screen and (min-width:2959px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:6.6666667% !important}
}
@media only screen and (min-width:3113px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:6.25% !important}
}
@media only screen and (min-width:3267px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:5.882352941% !important}
}
@media only screen and (min-width:3421px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:5.5555556% !important}
}
@media only screen and (min-width:3575px) {
	.snap-article-list.center.goods_small_media8 .li_box{width:5.263157894% !important}
}

/* Media Queries : 작은 상품 리스트(min-width:154px) - 1920px기준 7개 출력*/
/*1435px*/
@media only screen and (min-width:0) {
	.snap-article-list.center.goods_small_media7 .li_box{width:25% !important}
}
@media only screen and (min-width:1589px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:20% !important}
}
@media only screen and (min-width:1743px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:16.66666667% !important}
}
@media only screen and (min-width:1897px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:14.28571429% !important}
}
@media only screen and (min-width:2051px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:12.5% !important}
}
@media only screen and (min-width:2205px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:11.11111111% !important}
}
@media only screen and (min-width:2359px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:10% !important}
}
@media only screen and (min-width:2513px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:9.09090909% !important}
}
@media only screen and (min-width:2667px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:8.33333333% !important}
}
@media only screen and (min-width:2821px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:7.69230769% !important}
}
@media only screen and (min-width:2975px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:7.14285714% !important}
}
@media only screen and (min-width:3129px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:6.6666667% !important}
}
@media only screen and (min-width:3283px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:6.25% !important}
}
@media only screen and (min-width:3437px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:5.882352941% !important}
}
@media only screen and (min-width:3591px) {
	.snap-article-list.center.goods_small_media7 .li_box{width:5.5555556% !important}
}

/* Media Queries : 작은 상품 리스트(min-width:154px) - 1920px기준 6개 출력*/
/*1443px*/
@media only screen and (min-width:0) {
	.snap-article-list.center.goods_small_media6 .li_box{width:33.3333333334% !important}
}
@media only screen and (min-width:1597px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:25% !important}
}
@media only screen and (min-width:1751px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:20% !important}
}
@media only screen and (min-width:1905px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:16.66666667% !important}
}
@media only screen and (min-width:2059px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:14.28571429% !important}
}
@media only screen and (min-width:2213px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:12.5% !important}
}
@media only screen and (min-width:2367px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:11.11111111% !important}
}
@media only screen and (min-width:2521px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:10% !important}
}
@media only screen and (min-width:2675px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:9.09090909% !important}
}
@media only screen and (min-width:2829px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:8.33333333% !important}
}
@media only screen and (min-width:2983px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:7.69230769% !important}
}
@media only screen and (min-width:3137px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:7.14285714% !important}
}
@media only screen and (min-width:3291px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:6.6666667% !important}
}
@media only screen and (min-width:3445px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:6.25% !important}
}
@media only screen and (min-width:3599px) {
	.snap-article-list.center.goods_small_media6 .li_box{width:5.882352941% !important}
}

/* Media Queries : 작은 상품 리스트(min-width:154px) - 1920px기준 5개 출력*/
@media only screen and (min-width:0) {
	.snap-article-list.center.goods_small_media5 .li_box{width:50% !important}
}
@media only screen and (min-width:1606px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:33.3333333334% !important}
}
@media only screen and (min-width:1760px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:25% !important}
}
@media only screen and (min-width:1914px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:20% !important}
}
@media only screen and (min-width:2068px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:16.66666667% !important}
}
@media only screen and (min-width:2222px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:14.28571429% !important}
}
@media only screen and (min-width:2376px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:12.5% !important}
}
@media only screen and (min-width:2530px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:11.11111111% !important}
}
@media only screen and (min-width:2684px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:10% !important}
}
@media only screen and (min-width:2838px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:9.09090909% !important}
}
@media only screen and (min-width:2992px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:8.33333333% !important}
}
@media only screen and (min-width:3146px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:7.69230769% !important}
}
@media only screen and (min-width:3300px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:7.14285714% !important}
}
@media only screen and (min-width:3454px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:6.6666667% !important}
}
@media only screen and (min-width:3608px) {
	.snap-article-list.center.goods_small_media5 .li_box{width:6.25% !important}
}

/* Media Queries : 작은 상품 리스트(min-width:154px) - 1920px기준 4개 출력*/
@media only screen and (min-width:0) {
	.snap-article-list.center.goods_small_media4 .li_box{width:50% !important}
}
@media only screen and (min-width:1728px) {
	.snap-article-list.center.goods_small_media4 .li_box{width:33.3333333334% !important}
}
@media only screen and (min-width:1882px) {
	.snap-article-list.center.goods_small_media4 .li_box{width:25% !important}
}
@media only screen and (min-width:2036px) {
	.snap-article-list.center.goods_small_media4 .li_box{width:20% !important}
}
@media only screen and (min-width:2190px) {
	.snap-article-list.center.goods_small_media4 .li_box{width:16.66666667% !important}
}
@media only screen and (min-width:2344px) {
	.snap-article-list.center.goods_small_media4 .li_box{width:14.28571429% !important}
}
@media only screen and (min-width:2498px) {
	.snap-article-list.center.goods_small_media4 .li_box{width:12.5% !important}
}
@media only screen and (min-width:2838px) {
	.snap-article-list.center.goods_small_media4 .li_box{width:11.11111111% !important}
}
@media only screen and (min-width:2992px) {
	.snap-article-list.center.goods_small_media4 .li_box{width:10% !important}
}
@media only screen and (min-width:3146px) {
	.snap-article-list.center.goods_small_media4 .li_box{width:9.09090909% !important}
}
@media only screen and (min-width:3300px) {
	.snap-article-list.center.goods_small_media4 .li_box{width:8.33333333% !important}
}
@media only screen and (min-width:3454px) {
	.snap-article-list.center.goods_small_media4 .li_box{width:7.69230769% !important}
}
@media only screen and (min-width:3608px) {
	.snap-article-list.center.goods_small_media4 .li_box{width:7.14285714% !important}
}

/* Media Queries : 작은 상품 리스트(min-width:154px) - 1920px기준 3개 출력*/
@media only screen and (min-width:0) {
	.snap-article-list.center.goods_small_media3 .li_box{width:50% !important}
}
@media only screen and (min-width:1891px) {
	.snap-article-list.center.goods_small_media3 .li_box{width:33.3333333334% !important}
}
@media only screen and (min-width:2045px) {
	.snap-article-list.center.goods_small_media3 .li_box{width:25% !important}
}
@media only screen and (min-width:2199px) {
	.snap-article-list.center.goods_small_media3 .li_box{width:20% !important}
}
@media only screen and (min-width:2353px) {
	.snap-article-list.center.goods_small_media3 .li_box{width:16.66666667% !important}
}
@media only screen and (min-width:2507px) {
	.snap-article-list.center.goods_small_media3 .li_box{width:14.28571429% !important}
}
@media only screen and (min-width:2661px) {
	.snap-article-list.center.goods_small_media3 .li_box{width:12.5% !important}
}
@media only screen and (min-width:2815px) {
	.snap-article-list.center.goods_small_media3 .li_box{width:11.11111111% !important}
}
@media only screen and (min-width:2969px) {
	.snap-article-list.center.goods_small_media3 .li_box{width:10% !important}
}
@media only screen and (min-width:3123px) {
	.snap-article-list.center.goods_small_media3 .li_box{width:9.09090909% !important}
}
@media only screen and (min-width:3277px) {
	.snap-article-list.center.goods_small_media3 .li_box{width:8.33333333% !important}
}
@media only screen and (min-width:3431px) {
	.snap-article-list.center.goods_small_media3 .li_box{width:7.69230769% !important}
}
@media only screen and (min-width:3585px) {
	.snap-article-list.center.goods_small_media3 .li_box{width:7.14285714% !important}
}

/* Media Queries : 큰 상품 리스트(min-width:261px) - 1920px기준 6개 출력*/
/*1373px*/
@media only screen and (min-width:0) {
	.snap-article-list.center.goods_big_media6 .li_box{width:25% !important}
}
@media only screen and (min-width:1634px) {
	.snap-article-list.center.goods_big_media6 .li_box{width:20% !important}
}
@media only screen and (min-width:1895px) {
	.snap-article-list.center.goods_big_media6 .li_box{width:16.66666667% !important}
}
@media only screen and (min-width:2156px) {
	.snap-article-list.center.goods_big_media6 .li_box{width:14.28571429% !important}
}
@media only screen and (min-width:2417px) {
	.snap-article-list.center.goods_big_media6 .li_box{width:12.5% !important}
}
@media only screen and (min-width:2678px) {
	.snap-article-list.center.goods_big_media6 .li_box{width:11.11111111% !important}
}
@media only screen and (min-width:2939px) {
	.snap-article-list.center.goods_big_media6 .li_box{width:10% !important}
}
@media only screen and (min-width:3200px) {
	.snap-article-list.center.goods_big_media6 .li_box{width:9.09090909% !important}
}
@media only screen and (min-width:3461px) {
	.snap-article-list.center.goods_big_media6 .li_box{width:8.33333333% !important}
}

/* Media Queries : 큰 상품 리스트(min-width:261px) - 1920px기준 5개 출력*/
@media only screen and (min-width:0) {
	.snap-article-list.center.goods_big_media5 .li_box{width:33.333333333333% !important}
}
@media only screen and (min-width:1697px) {
	.snap-article-list.center.goods_big_media5 .li_box{width:25% !important}
}
@media only screen and (min-width:1958px) {
	.snap-article-list.center.goods_big_media5 .li_box{width:20% !important}
}
@media only screen and (min-width:2219px) {
	.snap-article-list.center.goods_big_media5 .li_box{width:16.66666667% !important}
}
@media only screen and (min-width:2480px) {
	.snap-article-list.center.goods_big_media5 .li_box{width:14.28571429% !important}
}
@media only screen and (min-width:2741px) {
	.snap-article-list.center.goods_big_media5 .li_box{width:12.5% !important}
}
@media only screen and (min-width:3002px) {
	.snap-article-list.center.goods_big_media5 .li_box{width:11.11111111% !important}
}
@media only screen and (min-width:3263px) {
	.snap-article-list.center.goods_big_media5 .li_box{width:10% !important}
}
@media only screen and (min-width:3524px) {
	.snap-article-list.center.goods_big_media5 .li_box{width:9.09090909% !important}
}

/* Media Queries : instants instants_list(min-width:402px) - 1920px기준 3개 출력*/
/*1074px*/
@media only screen and (min-width:0) {
	.instants_list{width:50% !important}
}
@media only screen and (min-width:1669px) {
	.instants_list{width:33.3333333334% !important}
}
@media only screen and (min-width:2071px) {
	.instants_list{width:25% !important}
}
@media only screen and (min-width:2473px) {
	.instants_list{width:20% !important}
}

/* Media Queries : 기획전 plan_content ul li(min-width:196px) - 1920px기준 6개 출력*/
/*1330px*/
@media only screen and (min-width:0) {
	.snap-article-list.center.plan_contents_media8 li{width:20% !important}
}
@media only screen and (min-width:1716px) {
	.snap-article-list.center.plan_contents_media8 li{width:16.66666667% !important}
}
@media only screen and (min-width:1947px) {
	.snap-article-list.center.plan_contents_media8 li{width:14.28571429% !important}
}
@media only screen and (min-width:2178px) {
	.snap-article-list.center.plan_contents_media8 li{width:12.5% !important}
}
@media only screen and (min-width:2409px) {
	.snap-article-list.center.plan_contents_media8 li{width:11.11111111% !important}
}
@media only screen and (min-width:2640px) {
	.snap-article-list.center.plan_contents_media8 li{width:10% !important}
}

/* Media Queries : 기획전 plan_content ul li(min-width:196px) - 1920px기준 6개 출력*/
/*1439px*/
@media only screen and (min-width:0) {
	.snap-article-list.center.plan_contents_media6 li{width:25% !important}
}
@media only screen and (min-width:1632px) {
	.snap-article-list.center.plan_contents_media6 li{width:20% !important}
}
@media only screen and (min-width:1828px) {
	.snap-article-list.center.plan_contents_media6 li{width:16.66666667% !important}
}
@media only screen and (min-width:2024px) {
	.snap-article-list.center.plan_contents_media6 li{width:14.28571429% !important}
}
@media only screen and (min-width:2220px) {
	.snap-article-list.center.plan_contents_media6 li{width:12.5% !important}
}
@media only screen and (min-width:2416px) {
	.snap-article-list.center.plan_contents_media6 li{width:11.11111111% !important}
}


/*Media Queries : online_coupon coupon_list ul li(min-width:225px) - 1920px기준 6개 출력*/
/*1330px*/
@media only screen and (min-width:0) {
	.coupon_list ul li{width:25% !important}
}
@media only screen and (min-width:1585px) {
	.coupon_list ul li{width:20% !important}
}
@media only screen and (min-width:1840px) {
	.coupon_list ul li{width:16.66666667% !important}
}
@media only screen and (min-width:2095px) {
	.coupon_list ul li{width:14.28571429% !important}
}
@media only screen and (min-width:2350px) {
	.coupon_list ul li{width:12.5% !important}
}


/*온라인 쿠폰*/
@media only screen and (min-width:1706px) {
	.coupon-list li{width:25%}
}
@media only screen and (min-width:2051px) {
	.coupon-list li{width:20%}
}
@media only screen and (min-width:2396px) {
	.coupon-list li{width:16.66666667%}
}
@media only screen and (min-width:2741px) {
	.coupon-list li{width:14.28571429%}
}

/*Media Queries : goods_suggest_media li(min-width:350px) - 1920px기준 3개 출력*/
/*1378px*/
@media only screen and (min-width:0) {
	.goods_suggest_media3 li{width:33.3333333334% !important}
}
@media only screen and (min-width:2078px) {
	.goods_suggest_media3 li{width:25% !important}
}
@media only screen and (min-width:2428px) {
	.goods_suggest_media3 li{width:20% !important}
}
@media only screen and (min-width:2778px) {
	.goods_suggest_media3 li{width:16.66666667% !important}
}
@media only screen and (min-width:3128px) {
	.goods_suggest_media3 li{width:14.28571428571429% !important}
}
@media only screen and (min-width:3478px) {
	.goods_suggest_media3 li{width:12.5% !important}
}

/*Media Queries : goods_suggest_media li(min-width:350px) - 1920px기준 4개 출력*/
/*1461px*/
@media only screen and (min-width:0px) {
	.goods_suggest_media4 li{width:25% !important}
}
@media only screen and (min-width:2161px) {
	.goods_suggest_media4 li{width:20% !important}
}
@media only screen and (min-width:2511px) {
	.goods_suggest_media4 li{width:16.66666667% !important}
}
@media only screen and (min-width:2861px) {
	.goods_suggest_media4 li{width:14.28571428571429% !important}
}
@media only screen and (min-width:3211px) {
	.goods_suggest_media4 li{width:12.5% !important}
}

/* Media Queries : 작은 상품 리스트(min-width:201px) - 1920px기준 7개 출력*/
/*1335px*/
@media only screen and (min-width:0) {
	.list_select_brand li{width:20% !important}
}
@media only screen and (min-width:1536px) {
	.list_select_brand li{width:16.66666667% !important}
}
@media only screen and (min-width:1737px) {
	.list_select_brand li{width:14.28571429% !important}
}
@media only screen and (min-width:1938px) {
	.list_select_brand li{width:12.5% !important}
}
@media only screen and (min-width:2139px) {
	.list_select_brand li{width:11.11111111% !important}
}
@media only screen and (min-width:2340px) {
	.list_select_brand li{width:10% !important}
}
@media only screen and (min-width:2541px) {
	.list_select_brand li{width:12.5% !important}
}
@media only screen and (min-width:2742px) {
	.list_select_brand li{width:11.11111111% !important}
}
@media only screen and (min-width:2943px) {
	.list_select_brand li{width:10% !important}
}
@media only screen and (min-width:3144px) {
	.list_select_brand li{width:9.09090909% !important}
}
@media only screen and (min-width:3345px) {
	.list_select_brand li{width:8.33333333% !important}
}
@media only screen and (min-width:3546px) {
	.list_select_brand li{width:7.69230769% !important}
}

/* Media Queries : 캠페인 상품 리스트(min-width:220px) - 1920px기준 6개 출력*/
/*1361px*/
@media only screen and (min-width:0) {
	.page-campaign .center-area .snap-article-list.center.goods_small_media6 .li_box{width:25% !important}
}
@media only screen and (min-width:1581px) {
	.page-campaign .center-area .snap-article-list.center.goods_small_media6 .li_box{width:20% !important}
}
@media only screen and (min-width:1801px) {
	.page-campaign .center-area .snap-article-list.center.goods_small_media6 .li_box{width:16.66666667% !important}
}
@media only screen and (min-width:2021px) {
	.page-campaign .center-area .snap-article-list.center.goods_small_media6 .li_box{width:14.28571429% !important}
}
@media only screen and (min-width:2241px) {
	.page-campaign .center-area .snap-article-list.center.goods_small_media6 .li_box{width:12.5% !important}
}
@media only screen and (min-width:2461px) {
	.page-campaign .center-area .snap-article-list.center.goods_small_media6 .li_box{width:11.11111111% !important}
}
@media only screen and (min-width:2681px) {
	.page-campaign .center-area .snap-article-list.center.goods_small_media6 .li_box{width:10% !important}
}
@media only screen and (min-width:2901px) {
	.page-campaign .center-area .snap-article-list.center.goods_small_media6 .li_box{width:9.09090909% !important}
}
@media only screen and (min-width:3121px) {
	.page-campaign .center-area .snap-article-list.center.goods_small_media6 .li_box{width:8.33333333% !important}
}
@media only screen and (min-width:3341px) {
	.page-campaign .center-area .snap-article-list.center.goods_small_media6 .li_box{width:7.69230769% !important}
}
@media only screen and (min-width:3561px) {
	.page-campaign .center-area .snap-article-list.center.goods_small_media6 .li_box{width:7.14285714% !important}
}

/* Media Queries : 캠페인 배너 리스트(min-width:470px) - 1920px기준 6개 출력 */
@media only screen and (min-width:0px) {
	.page-campaign .box-campaign-list ul{width:940px !important}
}
@media only screen and (min-width:1887px) {
	.page-campaign .box-campaign-list ul{width:1410px !important}
}
@media only screen and (min-width:2357px) {
	.page-campaign .box-campaign-list ul{width:1880px !important}
}
@media only screen and (min-width:2827px) {
	.page-campaign .box-campaign-list ul{width:2350px !important}
}
@media only screen and (min-width:3297px) {
	.page-campaign .box-campaign-list ul{width:2820px !important}
}

/* Media Queries : 캠페인 리뷰 이벤트 리스트(min-width:358px) - 1920px기준 6개 출력 */
@media only screen and (min-width:0px) {
	.page-campaign .box-campaign-review > ul{width:716px !important}
}
@media only screen and (min-width:1531px) {
	.page-campaign .box-campaign-review > ul{width:1074px !important}
}
@media only screen and (min-width:1889px) {
	.page-campaign .box-campaign-review > ul{width:1432px !important}
}
@media only screen and (min-width:2247px) {
	.page-campaign .box-campaign-review > ul{width:1790px !important}
}
@media only screen and (min-width:2605px) {
	.page-campaign .box-campaign-review > ul{width:2148px !important}
}
@media only screen and (min-width:2963px) {
	.page-campaign .box-campaign-review > ul{width:2506px !important}
}
@media only screen and (min-width:3321px) {
	.page-campaign .box-campaign-review > ul{width:2864px !important}
}
@media only screen and (min-width:3679px) {
	.page-campaign .box-campaign-review > ul{width:3222px !important}
}

/*Media Queries : goods_320_media5 li(min-width:320px) - 1920px기준 4개 출력*/
@media only screen and (min-width:0) {
	.goods_320_media4 li{width:33.3333333334% !important}
}
@media only screen and (min-width:1604px){
	.goods_320_media4 li{width:25% !important}
}
@media only screen and (min-width:1924px) {
	.goods_320_media4 li{width:20% !important}
}
@media only screen and (min-width:2244px) {
	.goods_320_media4 li{width:16.66666667% !important}
}
@media only screen and (min-width:2564px) {
	.goods_320_media4 li{width:14.28571428571429% !important}
}
@media only screen and (min-width:2884px) {
	.goods_320_media4 li{width:12.5% !important}
}
@media only screen and (min-width:3204px) {
	.goods_320_media4 li{width:11.111111% !important}
}
@media only screen and (min-width:3524px) {
	.goods_320_media4 li{width:10% !important}
}

/*Media Queries : goods_320_media5 li(min-width:320px) - 1920px기준 5개 출력*/
/*1334px*/
@media only screen and (min-width:0){
	.goods_320_media5 li{width:25% !important}
}
@media only screen and (min-width:1654px) {
	.goods_320_media5 li{width:20% !important}
}
@media only screen and (min-width:1974px) {
	.goods_320_media5 li{width:16.66666667% !important}
}
@media only screen and (min-width:2294px) {
	.goods_320_media5 li{width:14.28571428571429% !important}
}
@media only screen and (min-width:2614px) {
	.goods_320_media5 li{width:12.5% !important}
}
@media only screen and (min-width:2934px) {
	.goods_320_media5 li{width:11.111111% !important}
}
@media only screen and (min-width:3254px) {
	.goods_320_media5 li{width:10% !important}
}

/*Media Queries : goods_270_media5 li(min-width:270px) - 1920px기준 5개 출력*/
/*1409px*/
@media only screen and (min-width:0){
	.goods_270_media5 li{width:25% !important}
}
@media only screen and (min-width:1679px) {
	.goods_270_media5 li{width:20% !important}
}
@media only screen and (min-width:1949px) {
	.goods_270_media5 li{width:16.66666667% !important}
}
@media only screen and (min-width:2219px) {
	.goods_270_media5 li{width:14.28571428571429% !important}
}
@media only screen and (min-width:2489px) {
	.goods_270_media5 li{width:12.5% !important}
}
@media only screen and (min-width:2759px) {
	.goods_270_media5 li{width:11.111111% !important}
}
@media only screen and (min-width:3029px) {
	.goods_270_media5 li{width:10% !important}
}

/*Media Queries : goods_270_media6 li(min-width:270px) - 1920px기준 6개 출력*/
/*1409px*/
@media only screen and (min-width:0) {
	.goods_270_media6 li{width:20% !important}
}
@media only screen and (min-width:1679px) {
	.goods_270_media6 li{width:16.66666667% !important}
}
@media only screen and (min-width:1949px) {
	.goods_270_media6 li{width:14.28571428571429% !important}
}
@media only screen and (min-width:2219px) {
	.goods_270_media6 li{width:12.5% !important}
}
@media only screen and (min-width:2489px) {
	.goods_270_media6 li{width:11.111111% !important}
}
@media only screen and (min-width:2759px) {
	.goods_270_media6 li{width:10% !important}
}

/*selectshop list*/
@media only screen and (min-width:0) {
	.selectshop_list .li_box{width:33.333334%}
}
@media only screen and (min-width:1525px) {
	.selectshop_list .li_box{width:25%}
}
@media only screen and (min-width:1825px) {
	.selectshop_list .li_box{width:20%}
}
@media only screen and (min-width:2125px) {
	.selectshop_list .li_box{width:16.6666667%}
}
@media only screen and (min-width:2425px) {
	.selectshop_list .li_box{width:14.28571428571429%}
}
@media only screen and (min-width:2725px) {
	.selectshop_list .li_box{width:12.5%}
}
@media only screen and (min-width:3025px) {
	.selectshop_list .li_box{width:11.111111% !important}
}
@media only screen and (min-width:3325px) {
	.selectshop_list .li_box{width:10% !important}
}

/* my raffle 436 - 1920px기준 3개 출력*/
@media only screen and (min-width:0) {
	.goods_436_media li{width:50% !important}
}
@media only screen and (min-width:1633px) {
	.goods_436_media li{width:33.3333333334% !important}
}
@media only screen and (min-width:2069px){
	.goods_436_media li{width:25% !important}
}
@media only screen and (min-width:2505px) {
	.goods_436_media li{width:20% !important}
}
@media only screen and (min-width:2941px) {
	.goods_436_media li{width:16.66666667% !important}
}